header{
  background-color: #ec550a;
  padding: 10px;
}

header h1 {
  color: silver;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-size: 50px
}

header nav ul{
  list-style-type: none;
  margin-top: 30px;
}

header nav li {
  display: inline;
  font-family:  silver, 'Oswald', sans-serif;
  font-size: 20px;
  margin: 10px;
}

header nav li a{
  color: silver;
}

header nav li a:hover{
  background-color: #e86c2f;
  border-radius: 5px;
  color: silver;
  text-decoration: none;
}

section {
  margin-left: 75px;
  margin-top: 40px;
}

 section div{
  background-color: #ec550a;
  border-radius: 70px;
}

section label{
  color: silver;
  font-family:  silver, 'Oswald', sans-serif;
  font-size: 13px;
  padding: 20px;
  text-align: center;
  width: 125%;
}

section img{
  margin-left: 150px;
  height: 75px;
  box-shadow:  5px 5px 5px black;
}
